body {
    font-family: Arial, sans-serif;
    background-color: #a11515;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    background: rgb(65, 75, 216);
    padding: 33px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 80%;
    max-width: 600px;
}

h1 {
    text-align: center;
}

.question {
    margin-bottom: 27px;
}

input[type="radio"] {
    margin-right: 10px;
}

button {
    display: block;
    width: 100%;
    padding: 11px;
    border: none;
    background-color: #242121;
    margin-top: 7px;
    color: white;
    font-size: 16px;
    border-radius: 100px;
    cursor: pointer;
}

button:hover {
    background-color: #242121;
}

.result {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}
